<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>科协信息中心运维管理平台</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/base.css">
  <style link=""></style>
</head>

<body>
  <div class="bgImg">
    <div style="display: flex">
      <div id="bar" style="width: 600px;height:400px;"></div>
      <div id="pie" style="width: 600px;height:400px;"></div>
    </div>
    <div id="table">
      <div class="tableTitle">实时事件</div>
      <div class="tableInfo">
        <div id="mainData">

        </div>
        <div class="noData">暂无数据</div>
      </div>
      <div class="pager">
        <div class="pager_btn" id="first">首页</div>
        <div class="pager_btn" id="prev">上一页</div>
        <div class="pager_btn" id="next">下一页</div>
        <div class="pager_btn" id="last">末页</div>
        <div> <span id="active">1</span>/<span id="total">1</span>页</div>
      </div>
    </div>
  </div>
  <script src="./socket-client.js"></script>
  <script src="./echarts.min.js"></script>
  <script>
    //柱状图
    var barChart = echarts.init(document.getElementById('bar'));

    // 指定图表的配置项和数据
    var barOption = {
      title: {
        text: '最近一小时发生事件',
        subtext: '数据来自syslog',
        textStyle: {
          color: '#fff'
        }
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'value',
        axisLabel: {
          show: true,
          textStyle: {
            color: '#fff'
          }
        },
        axisLine: {
          lineStyle: {
            color: '#fff',
          }
        },
        boundaryGap: [0, 0.01]
      },
      yAxis: {
        type: 'category',
        axisLabel: {
          show: true,
          textStyle: {
            color: '#fff'
          }
        },
        axisLine: {
          lineStyle: {
            color: '#fff',
          }
        },
        data: ['HTTP协议违背', 'Web服务器漏洞攻击', 'Web插件漏洞攻击', '爬虫事件', '恶意扫描', '跨站请求伪造',
          '文件非法上传', '跨站脚本攻击', 'SQL注入攻击', 'LDAP注入攻击', 'SSI指令', 'XPath注入攻击', '命令注入攻击',
          '路径穿越攻击', '远程文件包含', '目录索引', '信息泄露', '内容过滤', '非法下载', '自定义攻击', 'HTTP访问控制事件',
          '智能补丁', '资源盗链', 'Cookie篡改', '违背白名单', 'WebShell页面访问', '敏感信息过滤', 'SSL加载', '暴利破解攻击'
        ]
      },
      series: {
        // name: '2011年',
        type: 'bar',
        // data: [18203, 23489, 29034, 104970, 131744, 630230]
        data: [0],
        itemStyle: {
          normal: {
            color: '#fff',
          }
        },
      }
    };
    barChart.setOption(barOption);

    // 饼图
    var pieChart = echarts.init(document.getElementById('pie'));
    var pieOption = {
      title: {
        text: '事件类型分布图',
        subtext: '数据来自syslog',
        // x: 'center',
        textStyle: {
          color: '#fff'
        }
      },
      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
        orient: 'vertical',
        left: '0%',
        top: '15%',
        textStyle: {
          color: '#fff'
        },
        data: ['HTTP协议违背', 'Web服务器漏洞攻击', 'Web插件漏洞攻击', '爬虫事件', '恶意扫描', '跨站请求伪造',
          '文件非法上传', '跨站脚本攻击', 'SQL注入攻击', 'LDAP注入攻击', 'SSI指令', 'XPath注入攻击', '命令注入攻击',
          '路径穿越攻击', '远程文件包含', '目录索引', '信息泄露', '内容过滤', '非法下载', '自定义攻击', 'HTTP访问控制事件',
          '智能补丁', '资源盗链', 'Cookie篡改', '违背白名单', 'WebShell页面访问', '敏感信息过滤', 'SSL加载', '暴利破解攻击'
        ]
      },
      series: {
        name: '访问来源',
        type: 'pie',
        radius: '55%',
        center: ['60%', '60%'],
        data: [{
          value: 0,
          name: 'HTTP协议违背',
          event: 'Info_Leak',
        }],
        label: {
          normal: {
            textStyle: {
              color: '#fff'
            }
          }
        },
        labelLine: {
          normal: {
            lineStyle: {
              color: 'rgba(255, 255, 255, 0.3)'
            },
            smooth: 0.2,
            length: 10,
            length2: 20
          }
        },
        // itemStyle: {
        //   normal: {
        //     color: '#c23531',
        //     shadowBlur: 200,
        //     shadowColor: 'rgba(0, 0, 0, 0.5)'
        //   }
        // },
      }
    };
    pieChart.setOption(pieOption);

    var socket = io();
    socket.on('pie', function (msg) {
      console.log(msg);
      pieOption.series.data = msg;
      pieChart.setOption(pieOption);
    });
    socket.on('bar', function (msg) {
      console.log(msg);
      barOption.series.data = msg;
      barChart.setOption(barOption);
    });
  </script>
  <script>
    var mainData = document.getElementById('mainData');
    var total = document.getElementById('total');
    var active = document.getElementById('active');
    var first = document.getElementById('first');
    var last = document.getElementById('last');
    var prev = document.getElementById('prev');
    var next = document.getElementById('next');
    var noData = document.getElementsByClassName('noData')[0];

    var page_now = 1;
    var page_end = 1;

    socket.on('pageTotal', function (totalPage) {
      console.log(totalPage);
      page_end = totalPage;
      total.innerHTML = totalPage;
      checkDisable();
      page_now == 1 ? socket.emit('pageNum', 1) : null;
    });

    socket.on('pageData', function (msg) {
      if (msg.length < 1) {
        noData.style.display = 'block';
        mainData.style.display = 'none';
      } else {
        noData.style.display = 'none';
        render(msg);
      }
    });

    socket.emit('pageNum', 1);

    function checkDisable() {
      if (page_now == 1) {
        first.className = "pager_btn pager_btn_disable";
        prev.className = "pager_btn pager_btn_disable";
      } else {
        first.className = "pager_btn";
        prev.className = "pager_btn";
      }
      if (page_now == page_end) {
        last.className = "pager_btn pager_btn_disable";
        next.className = "pager_btn pager_btn_disable";
      } else {
        last.className = "pager_btn";
        next.className = "pager_btn";
      }
      active.innerHTML = page_now;
    }

    function render(msg) {
      var html = '<table style="width:100%;" cellspacing="0" cellpadding="0" border="0">';
      html +=
        `
          <tr>
            <th>开始时间</th>
            <th>事件类型</th>
            <th>服务器IP地址</th>
            <th>URL</th>
          </tr>
          <tbody>
       `;

      for (var i = 0; i < msg.length; i++) {
        html +=
          `
            <tr>
              <td>${msg[i].start_time}</td>
              <td>${msg[i].name}</td>
              <td>${msg[i].ip}</td>
              <td>${msg[i].url}</td>
            </tr>
          `
      }
      html += '</tbody></table>';
      mainData.innerHTML = html;
      mainData.style.display = 'block';
    }

    first.onclick = function () {
      if (page_now <= 1) {
        return;
      } else {
        page_now = 1;
        socket.emit('pageNum', 1);
        checkDisable();
      }
    }
    last.onclick = function () {
      if (page_now >= page_end) {
        return
      } else {
        page_now = page_end;
        socket.emit('pageNum', page_end);
        checkDisable()
      }
    }
    prev.onclick = function () {
      if (page_now <= 1) {
        return
      } else {
        --page_now;
        socket.emit('pageNum', page_now);
        checkDisable()
      }
    }
    next.onclick = function () {
      if (page_now >= page_end) {
        return
      } else {
        ++page_now;
        socket.emit('pageNum', page_now);
        checkDisable()
      }
    }
  </script>
</body>

</html>